annotated-types==0.7.0
asgiref==3.11.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
colorama==0.4.6
cryptography==49.0.0
dj-rest-auth==7.2.0
Django==5.2.16
django-allauth==65.18.0
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.17.1
google-ai-generativelanguage==0.6.15
google-api-core==2.32.0
google-api-python-client==2.198.0
google-auth==2.56.0
google-auth-httplib2==0.4.0
google-generativeai==0.8.6
googleapis-common-protos==1.75.0
grpcio==1.82.1
grpcio-status==1.71.2
httplib2==0.32.0
idna==3.18
mysqlclient==2.2.8
oauthlib==3.3.1
pillow==12.3.0
proto-plus==1.28.1
protobuf==5.29.6
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.13.0
pyparsing==3.3.2
PyPDF2==3.0.1
python-dotenv==1.2.2
requests==2.34.2
sqlparse==0.5.5
tqdm==4.69.0
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.3
uritemplate==4.2.0
urllib3==2.7.0
psycopg2-binary==2.9.9
gunicorn==22.0.0
whitenoise==6.8.0
django-import-export
